<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Sample App">
    <meta name="mobile-web-app-capable" content="yes">
    <%= render "layouts/rails_default"%>
    <%= render "layouts/shim"%>

  </head>
  <body>
    <%= render "layouts/header"%>
    <div class ="container pt-5 mt-4">
      <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    <%= render "layouts/footer"%>
    <%= debug(params) if Rails.env.development?%>
  </body>
</html>
